extends includes/_template.jade

block content

  //- Main Frame
  .content-wrapper

    //- Main Header
    header.main-header

      div.toggle-menu
        h3.title Menu
        span.togglebutton Open

      div.header-content
        h1.title Apollo

        nav.main-navigation
          h2.title Main Navigation

          ul.menu-list
            li.menu: a.link(href="#") Home
            li.menu: a.link(href="#") About
            li.menu: a.link(href="#") Large Slideshow
            li.menu: a.link(href="#") Photos
            li.menu: a.link(href="#") Small Slideshow
            li.menu: a.link(href="#") Contact

        footer.main-footer
          p.copy &copy; 2016 Apollo.

    //- Content of Main Frame
    section.main-frame
      h2.title Apollo
        span.lighttext Photographer UI Design
      p.description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        | enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        | ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        | reprehenderit in voluptate velit esse cillum dolore.
      img.photo(src="assets/images/photo-back.png" alt="John Apollo Picture")
