extends includes/_template.jade

block content

  //- Main Frame
  .content-wrapper

    //- Main Header
    header.main-header

      div.toggle-menu
        h3.title Menu
        span.togglebutton Open

      div.header-content
        h1.title Apollo

        nav.main-navigation
          h2.title Main Navigation

          ul.menu-list
            li.menu: a.link(href="#") Home
            li.menu: a.link(href="#") About
            li.menu: a.link(href="#") Large Slideshow
            li.menu: a.link(href="#") Photos
            li.menu: a.link(href="#") Small Slideshow
            li.menu: a.link(href="#") Contact

        footer.main-footer
          p.copy &copy; 2016 Apollo.

  //- Content of Main Frame
  .content-wrapper
    section.main-frame
      h2.title Apollo
        span.lighttext  Photographer UI Design
      p.description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        | enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        | ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        | reprehenderit in voluptate velit esse cillum dolore.
      img.photo(src="assets/images/photo-back.png" alt="John Apollo Picture")


  //- About Frame
  .content-wrapper
    section.about-frame
      img.photo(src="assets/images/photo-camera.png" alt="Camera Picture")
      h2.title <span class="lighttext">$#8212; My name is</span> Apollo
      p.description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        | minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.  Duis aute irure dolor in
        | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        | culpa qui officia deserunt mollit anim id est laborum.
      ul.social-list
        li.social.facebook: a.link(href="#") Facebook
        li.social.instagram: a.link(href="#") Instagram
        li.social.twitter: a.link(href="#") Twitter
        li.social.pinterest: a.link(href="#") Pinterest


  //- Large Slideshow Frame
  //- ...


  //- Photography Frame
  .content-wrapper
    section.photography-frame
      h2.title Ut enim
        span.lighttext  ad minim
      p.description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        | minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.  Duis aute irure dolor in
        | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        | culpa qui officia deserunt mollit anim id est laborum.
      img.photo(src="assets/images/photo-stairs.png" alt="Stairs Photo")


  //- Small Slideshow Frame
  //- ...


  //- Contact Frame
  .content-wrapper
    section.contact-frame
      h2.title Say
        span.lighttext  Hello
      p.description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        | minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
      form.contact-form
        input.field.basic(type="email", placeholder="Your Email")
        input.field.basic(type="text", placeholder="Subject")
        textarea.field.message(rows="10" cols="30")
        input.send(type="submit" value="Send Message" role="button")
