.about-frame
  padding-top: 1em
  background-image: url('../images/letter-p.png')

  .text-box

    > .title
      set_font-size(30px)

    > .social-list

      > .social
        display: inline-block
        width: 24px
        height: 24px
        text-indent: -9999px
        cursor: pointer

        &:not(:last-child)
          margin-right: 0.8em

      > .facebook
        background-image: url('../images/facebook.png')
        &:hover
          background-image: url('../images/facebook-hover.png')

      > .instagram
        background-image: url('../images/instagram.png')
        &:hover
          background-image: url('../images/instagram-hover.png')

      > .twitter
        background-image: url('../images/twitter.png')
        &:hover
          background-image: url('../images/twitter-hover.png')

      > .pinterest
        background-image: url('../images/pinterest.png')
        &:hover
          background-image: url('../images/pinterest-hover.png')
