.contact-frame
  background-image: url('../images/letter-o.png')

  > .content-wrapper

    > .description
      /* @media 1024px */
      @media (min-width: 1024px)
        @extend .centralized
        max-width: 70%

    > .contact-form
      /* @media 1024px */
      @media (min-width: 1024px)
        @extend .centralized
        max-width: 40%
        margin-top: 2.5em


      > .field
        width: 100%
        margin-bottom: 2.5em

      > .basic
        /* @media 1024px */
        @media (min-width: 1024px)
          display: inline-block
          width: 45%

          &:nth-child(1)
            float: left
          &:nth-child(2)
            float: right

      > .button
        set_font-weight(semibold)

        &:hover
          color: #000
          background-color: color_lightgray
          border: 1px solid #000
