.main-frame
  background-image: url('../images/letter-a.png')

  > .content-wrapper
    padding-bottom: 0

    > .text-box
      /* @media 1024px */
      @media (min-width: 1024px)
        float: left
        margin-left: 10%

    > .photo
      /* @media 1024px */
      @media (min-width: 1024px)
        float: right

