.main-frame
  background-image: url('../images/letter-a.png')

  > .content-wrapper
    padding-bottom: 0

    /* @media 768px */
    @media (min-width: 768px)
      text-align: center

    > .text-box
      text-align: left
