.photography-frame
  background-image: url('../images/letter-l.png')

  > .content-wrapper

    > .text-box
      /* @media 1024px */
      @media (min-width: 1024px)
        float: left
        margin-left: 5%

    > .photo
      max-width: 100%

      /* @media 1024px */
      @media (min-width: 1024px)
        float: right
        width: 50%
