.smallslideshow-frame
  background-image: url('../images/letter-l.png')

  .item img
    width: 100%
    margin-right: auto
    margin-left: auto

  .left
    margin-left: -0.5em
  .right
    margin-right: -0.5em
