.smallslideshow-frame
  background-image: url('../images/letter-l.png')

  .carousel
    /* @media 1024px */
    @media (min-width: 1024px)
      max-width: 50%
      @extend .centralized

    .item img
      width: 100%
      @extend .centralized

    .left
      margin-left: -0.5em
    .right
      margin-right: -0.5em
