.toggle-menu
  float: right
  margin-right: 1em

  /* @media 768px */
  @media (min-width: 768px)
    margin-right: 2em

  > .title
    display: inline-block
    margin-right: 0.8em
    set_font-weight(regular)
    set_font-size(18px)
    text-transform: uppercase

  > .togglebutton
    display: inline-block
    width: 24px
    height: 24px
    background-image: url('../images/menu.png')
    vertical-align: middle
    cursor: pointer
