doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content ="IE=edge")
    meta(name="viewport",              content ="width=device-width, initial-scale=1.0")
    meta(name="robots",                content ="index, follow")
    meta(name="author",                content ="Luan Vicente")
    meta(name="description",           content ="Apollo - Photographer UI Design")

    link(rel="stylesheet",
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="assets/css/main.css")

    title Apollo

  body
    block content

    script(src="http://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="assets/js/main.js")
