// Reset Bootstrap Definitions
.carousel-control.left
.carousel-control.right
  display: block
  width: auto
  height: 40px
  padding: 0.2em
  margin-top: 25%
  background-image: none
  background-color: #fff
  opacity: 1

  /* @media 768px */
  @media (min-width: 768px)
    margin-top: 30%

.carousel-control.left
  margin-left: 0.5em
.carousel-control.right
  margin-right: 0.5em

.back
.next
  display: block
  width: 32px
  height: 32px

.back
  background-image: url('../images/back.png')
.next
  background-image: url('../images/next.png')
