// Reset Bootstrap Definitions
.carousel-control.left
.carousel-control.right
  display: block
  width: auto
  height: 72px
  padding: 1em
  background-image: none
  background-color: #fff
  opacity: 1


.back
.next
  display: block
  width: 32px
  height: 32px

.back
  background-image: url('../images/back.png')
.next
  background-image: url('../images/next.png')
