.title
  set_font-weight(semibold)

  > .lighttext
    set_font-weight(light)


.description
  font-family: font_secondary
  set_font-size(18px)

.photo
  /* @media 768px */
  @media (min-width: 768px)
    max-width: 50%
