.frame
  margin: 1em
  background-color: color_lightgray
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  /* @media 768px */
  @media (min-width: 768px)
    margin: 2.5em


.content-wrapper
  padding: 1em

  /* @media 768px */
  @media (min-width: 768px)
    padding-top: 2.5em
