.content-wrapper
  padding: 1em
  margin: 1em
  background-color: color_lightgray
  background-image: url('../images/letter-a.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  /* TEMPORARY */
  border: 1px solid black

  /* @media 768px */
  @media (min-width: 768px)
    padding: 2.5em
    margin: 2.5em
