.general-wrapper
  max-width: 1600px
  margin-right: auto
  margin-left: auto

.frame
  margin: 1em
  background-color: color_lightgray
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  /* @media 768px */
  @media (min-width: 768px)
    margin: 2.5em
    background-size: contain
    background-position: 10% 100%


.content-wrapper
  padding: 1em

  &::after
    @extend .clearfix

  /* @media 768px */
  @media (min-width: 768px)
    padding: 2.5em
    text-align: center

    > .text-box
      text-align: left

      /* @media 1024px */
      @media (min-width: 1024px)
        max-width: calc(40%)
        margin-top: 2%

      /* @media 1336px */
      @media (min-width: 1336px)
        margin-top: 5%

    > .photo
      max-width: 50%
